<h1>Reset password</h1>
<h3>Enter a new password.</h3>

<div class="error" *ngIf="error">{{ error }}</div>

<form [formGroup]="recoverForm" (submit)="resetPassword()">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>New password</mat-label>
        <input matInput type="password" required formControlName="password" />
        <mat-error>
            <agree-error-message [control]="recoverForm.get('password')"></agree-error-message>
        </mat-error>
    </mat-form-field>

    <div class="actions">
        <button mat-flat-button color="primary" type="submit" [disabled]="recoverForm.invalid"><span>Reset Password</span><mat-icon>chevron_right</mat-icon></button>
    </div>
</form>
