form {
    display: grid;
    gap: 1em;

    .actions {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 1em;
        align-items: flex-end;
        justify-content: flex-end;
    }
}
