.home-header {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto min-content;
    padding: 2rem;

    @media screen and (min-width: 600px) {
        padding: 3rem 0;
    }

    img {
        height: 1.75rem;
        width: auto;

        @media screen and (min-width: 600px) {
            height: 2.5rem;
        }
    }
}

.home-content {
    display: grid;
    gap: 1rem;
    grid-template-columns: 100%;
    padding: 0 2rem;

    @media screen and (min-width: 600px) {
        padding: 0 0;
        grid-template-columns: 50% auto;
    }

    @media screen and (min-width: 960px) {
        grid-template-columns: 40% auto;
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: 30% auto;
    }

    .home-banner {
        .home-title {
            font-family: 'Poppins', 'Roboto', 'sans-serif';
            font-size: 3rem;
            line-height: 3.2rem;
            font-weight: 700;
            margin-bottom: 1rem;
            color: #302d5b;

            @media screen and (min-width: 600px) {
                font-size: 4rem;
                line-height: 4.2rem;
            }

            .coral {
                color: #ff7b6a;
            }
        }
    }

    .home-image {
        display: none;

        @media screen and (min-width: 960px) {
            display: block;
            text-align: right;
        }

        img {
            width: 80%;
            height: auto;
        }
    }
}

.home-subtitle {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 300;
    color: #302d5b;
}

.home-signup {
    padding: 2rem;
    display: grid;
    gap: 0.5rem;
    grid-auto-rows: min-content;

    @media screen and (min-width: 600px) {
        padding: 1rem 0 3rem;
    }

    a {
        color: #444;
    }

    form {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto;
        color: #444;

        mat-form-field,
        button {
            width: 100%;
        }

        @media screen and (min-width: 600px) {
            grid-template-columns: min-content min-content;

            mat-form-field,
            button {
                width: auto;
            }
        }

        > div:last-child {
            position: relative;
            top: 10px;

            button {
                display: block;
                margin-bottom: 1rem;

                @media screen and (min-width: 600px) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
