<div class="home-header">
    <h1>
        <img src="/assets/logo-ink@3x.png" alt="&agree" />
    </h1>
    <div>
        <a mat-flat-button [routerLink]="['/', 'auth']" color="primary" aria-label="Login">
            <span>Log in</span>
            <mat-icon>chevron_right</mat-icon>
        </a>
    </div>
</div>

<div class="home-content">
    <div class="home-banner">
        <p class="home-title">
            Make<br /><span class="coral">decision<br />making</span><br />better.
        </p>
        <p class="home-subtitle">We are currently creating a simple email-based tool that helps companies streamline decision making.</p>
    </div>
    <div class="home-image">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
    </div>
</div>

<div class="home-signup">
    <div class="home-subtitle">Sign up for news and updates.</div>
    <div>
        <form [formGroup]="signupForm" (submit)="performSignup()">
            <div>
                <mat-form-field color="primary" appearance="outline" floatLabel="always">
                    <mat-label>Email address</mat-label>
                    <input matInput required formControlName="email" />
                    <mat-error>
                        <agree-error-message [control]="signupForm.get('email')"></agree-error-message>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button color="primary" type="submit" [disabled]="signupForm.invalid || subscribed" aria-label="Sign up">
                    <ng-container *ngIf="subscribed; else subscribe">
                        <span>Subscribed</span>
                    </ng-container>
                    <ng-template #subscribe>
                        <span>Sign up</span>
                        <mat-icon>chevron_right</mat-icon>
                    </ng-template>
                </button>
            </div>
        </form>
    </div>
    <div class="unsubscribe">
        You can unsubscribe anytime. For more details please review our
        <a href="https://app.termly.io/document/privacy-policy/0fb7bdb6-8bdc-437d-b21d-d4acbfe82127" target="_blank">Privacy Notice.</a>
    </div>
</div>
