<h2>Create account</h2>

<p style="font-size: 0.8em">Note, minimum password length is 8 characters.</p>

<form [formGroup]="registerForm" (submit)="createAccount()" autocomplete="off">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Display name</mat-label>
        <input matInput required formControlName="displayName" />
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email address</mat-label>
        <input matInput type="email" required formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Password</mat-label>
        <input matInput [type]="visibility" required formControlName="password" />

        <button (click)="toggleVisibility($event)" type="button" mat-icon-button matSuffix>
            <ng-container [ngSwitch]="visibility">
                <span *ngSwitchCase="'text'"><mat-icon>visibility</mat-icon></span>
                <span *ngSwitchDefault><mat-icon>visibility_off</mat-icon></span>
            </ng-container>
        </button>
    </mat-form-field>

    <div class="actions">
        <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">Sign In</button>
    </div>

    <div class="actions">
        <a [routerLink]="['/', 'login']">return to login</a>
    </div>
</form>

