<h1>Create account</h1>
<h3>Minimum password length is 8 characters.</h3>

<form [formGroup]="registerForm" (submit)="createAccount()" autocomplete="off">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Display name</mat-label>
        <input matInput required formControlName="displayName" />
        <mat-error>
            <agree-error-message [control]="registerForm.get('displayName')"></agree-error-message>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email address</mat-label>
        <input matInput type="email" required formControlName="email" />
        <mat-error>
            <agree-error-message [control]="registerForm.get('email')"></agree-error-message>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Password</mat-label>
        <input matInput [type]="visibility" required formControlName="password" />
        <mat-error>
            <agree-error-message [control]="registerForm.get('password')"></agree-error-message>
        </mat-error>

        <button (click)="toggleVisibility($event)" type="button" mat-icon-button matSuffix>
            <ng-container [ngSwitch]="visibility">
                <span *ngSwitchCase="'text'"><mat-icon>visibility</mat-icon></span>
                <span *ngSwitchDefault><mat-icon>visibility_off</mat-icon></span>
            </ng-container>
        </button>
    </mat-form-field>

    <div class="actions">
        <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid"><span>Create</span><mat-icon>chevron_right</mat-icon></button>
        <a [routerLink]="['/', 'login']">Back to login</a>
    </div>
</form>
