form {
    display: grid;
    gap: 1em;

    .actions {
        display: grid;
        grid-template-columns: min-content min-content;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 1em;
    }
}
