<div class="agree-stepper">
    <div class="stepper">
        <div class="step active">
            <div class="step-circle"><span><mat-icon>add</mat-icon></span></div>
            <div class="step-title">Start a new decision</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step">
            <div class="step-circle"><span><mat-icon>mail_outline</mat-icon></span></div>
            <div class="step-title">Kick off email sent</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step">
            <div class="step-circle"><span><mat-icon>subject</mat-icon></span></div>
            <div class="step-title">Review the decision</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step">
            <div class="step-circle"><span><mat-icon>done</mat-icon></span></div>
            <div class="step-title">Finalise the decision</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step">
            <div class="step-circle"><span><mat-icon>mark_email_read</mat-icon></span></div>
            <div class="step-title">Agreement email sent &amp; decision archived</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
    </div>
</div>

<div class="start-decision">
    <h1>Start a new decision</h1>
    <h3>Kick-off a new decision by filling in all the relevant information for your team.</h3>

    <mat-stepper orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="generalForm">
            <ng-template matStepLabel>General</ng-template>

            <form [formGroup]="generalForm">
                <p>Give your team the key information to help them make a faster decision.</p>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Title</mat-label>
                    <input matInput required formControlName="title" placeholder="Project Red 2021" />
                    <mat-error>
                        <agree-error-message [control]="generalForm.get('title')"></agree-error-message>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Goal</mat-label>
                    <input matInput formControlName="goal" placeholder="To agree the colour of the new logo" />
                    <mat-error>
                        <agree-error-message [control]="generalForm.get('goal')"></agree-error-message>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Background</mat-label>
                    <textarea
                        matInput
                        rows="8"
                        required
                        formControlName="background"
                        placeholder="This is the latest version of our 20th anniversary logo"
                    ></textarea>
                    <mat-error>
                        <agree-error-message [control]="generalForm.get('background')"></agree-error-message>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Instructions</mat-label>
                    <input matInput formControlName="instructions" placeholder="Please review and approve" />
                    <mat-error>
                        <agree-error-message [control]="generalForm.get('instructions')"></agree-error-message>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Feedback options</mat-label>
                    <mat-chip-list>
                        <mat-chip [selectable]="false" [removable]="false">Disagree &amp; feedback</mat-chip>
                        <mat-chip [selectable]="false" [removable]="false">Agree &amp; feedback</mat-chip>
                    </mat-chip-list>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Deadline</mat-label>
                    <input matInput required formControlName="deadline" [matDatepicker]="picker" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </form>

            <button mat-flat-button color="primary" matStepperNext type="button">Next: Choose your team</button>
        </mat-step>

        <mat-step [stepControl]="teamForm">
            <ng-template matStepLabel>Team</ng-template>

            <form [formGroup]="teamForm">
                <p>
                    Select the team members you want to involve in this decision process. Managers (you) are responsible for the overall process from start to
                    finish. Deciders are expected to provide feedback. Viewers are only kept in the loop for main decision milestones.
                </p>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Managers(s)</mat-label>
                    <mat-chip-list>
                        <mat-chip *ngFor="let user of managers.value" [selectable]="false" [removable]="false">{{ user.email }}</mat-chip>
                    </mat-chip-list>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Decider(s)</mat-label>
                    <mat-chip-list #deciderList>
                        <mat-chip *ngFor="let decider of deciders.value; let i = index" [selectable]="false" [removable]="true" (removed)="removeDecider(i)">
                            {{ decider.email }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input
                            [formControl]="deciderCtrl"
                            placeholder="Email address..."
                            [matChipInputFor]="deciderList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="addDecider($event)"
                        />
                    </mat-chip-list>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Viewers(s)</mat-label>
                    <mat-chip-list>
                        <mat-chip *ngFor="let user of viewers.value" [selectable]="false" [removable]="false">{{ user.email }}</mat-chip>
                    </mat-chip-list>
                </mat-form-field>
            </form>

            <button mat-flat-button color="primary" matStepperNext type="button">Next: Manage documents</button>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Documents</ng-template>

            <form [formGroup]="documentForm">
                <p>Share any documents you want your team to review as well as anything else that might give them additional context.</p>

                <div formArrayName="upload" *ngFor="let document of documents.controls; let i = index">
                    <div class="document-entry" [formGroupName]="i">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" />
                            <mat-error>
                                <agree-error-message [control]="document.get('name')"></agree-error-message>
                            </mat-error>
                        </mat-form-field>

                        <div>
                            <button mat-button (click)="buttonInput.click()">Choose file</button>

                            <input #buttonInput type="file" (change)="saveFile($event, document)" />
                        </div>

                        <div class="indicator" [ngSwitch]="document.valid">
                            <mat-icon color="primary" *ngSwitchCase="true">check_circle_outline</mat-icon>
                            <mat-icon color="warn" *ngSwitchDefault>help_outline</mat-icon>
                        </div>

                        <div>
                            <button mat-icon-button color="warn" aria-label="Remove document" (click)="removeDocument(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <button mat-flat-button color="primary" (click)="addDocument()">Add file</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>

    <div class="full-viewport">
        <div class="full-viewport-content">
            <div class="actions">
                <button (click)="performCancel()" mat-button>Cancel</button>
                <button (click)="createDecision()" mat-flat-button color="primary" [disabled]="generalForm.invalid || teamForm.invalid || documentForm.invalid">
                    <span>Start decision</span><mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="full-viewport clear-bg">
        <div class="full-viewport-content">
            <div class="actions-info">
                <p>
                    Send a kick-off email to your team. It will include all the information above as well as clear step-by-step instructions for them to provide
                    feedback.
                </p>
            </div>
        </div>
    </div>
</div>
