.start-decision {
    padding: 3rem 0;
}

form {
    display: grid;
    gap: 1em;
}

.actions {
    display: grid;
    grid-template-columns: min-content min-content;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1em;
}

.document-entry {
    display: grid;
    grid-template-columns: 2fr 1fr min-content;
    align-items: center;
    gap: 1em;
}
