<div class="decision-dialog">
    <h2 mat-dialog-title class="mat-title">Your decision has been finalised.</h2>
    <mat-dialog-content>
        <p class="mat-subheading-1">The decision has been archived and an agreement email has been sent to the team.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial aria-label="Close dialog">
            <span>Close</span>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-dialog-actions>
</div>
