<div class="full-viewport summary">
    <div class="full-viewport-content summary-content">
        <div><strong>Title:</strong> {{ decision.title }}</div>
        <div><strong>Goal:</strong> {{ decision.goal }}</div>
        <div><strong>Decision Email:</strong> {{ decision.uid }}&#64;andagree.com</div>
        <div><strong>Deadline:</strong> {{ decision.deadline | timestamp }}</div>
    </div>
</div>

<div class="agree-stepper">
    <div class="stepper">
        <div class="step done">
            <div class="step-circle"><span><mat-icon>add</mat-icon></span></div>
            <div class="step-title">Start a new decision</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step done">
            <div class="step-circle"><span><mat-icon>mail_outline</mat-icon></span></div>
            <div class="step-title">Kick off email sent</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step active">
            <div class="step-circle"><span><mat-icon>subject</mat-icon></span></div>
            <div class="step-title">Review the decision</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step">
            <div class="step-circle"><span><mat-icon>done</mat-icon></span></div>
            <div class="step-title">Finalise the decision</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step">
            <div class="step-circle"><span><mat-icon>mark_email_read</mat-icon></span></div>
            <div class="step-title">Agreement email sent &amp; decision archived</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
    </div>
</div>

<div class="feedback">
    <h1>Review the decision</h1>
    <div class="mat-subheading-2">Review feedback from all team members before coming to an agreement.</div>

    <section class="feedback-section">
        <header>
            <h4 class="mat-display-1">Pending responses ({{ feedbackPending.length }})</h4>
            <div>We still need to receive feedback from these team members.</div>
        </header>

        <mat-chip-list [selectable]="false">
            <mat-chip color="accent" selected *ngFor="let decider of feedbackPending">{{ decider.email }}</mat-chip>
        </mat-chip-list>

        <div class="action">
            <button mat-button (click)="sendReminders()">
                <span>Send reminders</span>
                <mat-icon>arrow_circle_right</mat-icon>
            </button>
        </div>
    </section>

    <section class="feedback-section">
        <header>
            <h4 class="mat-display-1">Feedback recieved ({{ feedbackRecieved.length }})</h4>
            <div>We have received feedback from these team members.</div>
        </header>

        <ng-container *ngIf="decision.feedback?.length; else noResponses">
            <div class="feedback-states">
                <ng-container *ngFor="let state of ['APPROVED', 'REJECTED', 'UNDEFINED']">
                    <div>
                        <h5>
                            <ng-container [ngSwitch]="state">
                                <ng-container *ngSwitchCase="'APPROVED'">Agree &amp; feedback</ng-container>
                                <ng-container *ngSwitchCase="'REJECTED'">Disagree &amp; feedback</ng-container>
                                <ng-container *ngSwitchCase="'UNDEFINED'">Undefined</ng-container>
                            </ng-container>
                            ({{ feedbackRecieved | filter: "status":state | count }})
                        </h5>
                        <mat-chip-list class="mat-chip-list-stacked" [selectable]="false">
                            <ng-container *ngFor="let decider of feedbackRecieved | filter: 'status':state">
                                <mat-chip [color]="state === 'APPROVED' ? 'primary' : 'accent'" [selected]="state !== 'UNDEFINED'">{{ decider.email }}</mat-chip>
                            </ng-container>
                        </mat-chip-list>
                    </div>
                </ng-container>
            </div>

            <section class="feedback-list">
                <article class="feedback-list-item" *ngFor="let feedback of decision.feedback" [ngClass]="{'agree': feedback.status === 'APPROVED', 'disagree': feedback.status === 'REJECTED'}">
                    <div class="mat-body-2">{{ feedback.from }}</div>
                    <div class="mat-body-2">{{ feedback.created | timestamp: 'HH:mm - MMM d, YYYY' }}</div>
                    <div class="feedback-list-actions">
                        <button mat-button [matMenuTriggerFor]="changeMenu" role="menu">
                            <ng-container [ngSwitch]="feedback.status">
                                <ng-container *ngSwitchCase="'APPROVED'">Agree &amp; feedback</ng-container>
                                <ng-container *ngSwitchCase="'REJECTED'">Disagree &amp; feedback</ng-container>
                                <ng-container *ngSwitchCase="'UNDEFINED'">Undefined</ng-container>
                            </ng-container>
                            <mat-icon>expand_more</mat-icon>
                        </button>
                        <mat-menu #changeMenu>
                            <button mat-menu-item (click)="changeFeedback(feedback, 'APPROVED')">Agree &amp; feedback</button>
                            <button mat-menu-item (click)="changeFeedback(feedback, 'REJECTED')">Disagree &amp; feedback</button>
                            <button mat-menu-item (click)="changeFeedback(feedback, 'UNDEFINED')">Undefined</button>
                        </mat-menu>
                    </div>
                    <div class="pre">{{ feedback.body }}</div>
                </article>
            </section>
        </ng-container>
    </section>

    <ng-template #noResponses>There have not yet been any responses.</ng-template>
</div>

<ng-container *ngIf="decision.status !== 'ARCHIVED'">
    <div class="full-viewport">
        <div class="full-viewport-content">
            <div class="actions">
                <a mat-button (click)="deleteDecision()">Delete</a>
                <a mat-flat-button color="primary" [routerLink]="['/', 'decision', 'finalise', decision.uid]" aria-label="Finalise decision">
                    <span>Finalise decision</span><mat-icon>chevron_right</mat-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="full-viewport clear-bg">
        <div class="full-viewport-content">
            <div class="actions-info">
                <p>Open a new page where you will be able to setup and send an email to share the final outcome with your team.</p>
            </div>
        </div>
    </div>
</ng-container>
