<div class="decision-dialog">
    <h2 mat-dialog-title>Are you sure you want to send reminder(s)?</h2>
    <mat-dialog-content>
        <p>This will send email reminders to all deciders who haven&lsquo;t yet provided feedback.</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div>
            <button mat-button mat-dialog-close color="warn" aria-label="Close dialog" cdkFocusInitial>
                <span>Cancel</span>
            </button>
        </div>
        <button mat-flat-button [mat-dialog-close]="true" color="primary" aria-label="Send reminders">
            <span>Send reminder</span>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-dialog-actions>
</div>
