<div class="decision-dialog">
    <h2 mat-dialog-title>Your decision has been started.</h2>
    <mat-dialog-content>
        <p class="mat-body-1">Kick-off emails have been sent to all the relevant decision members.</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button [mat-dialog-close]="true" color="primary" aria-label="Close dialog" cdkFocusInitial>
            <span>Close</span>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-dialog-actions>
</div>
