<h1>Welcome back</h1>
<h3>Sign in below.</h3>

<div class="error" *ngIf="error">{{ error }}</div>

<form [formGroup]="loginForm" (submit)="performLogin()">
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email address</mat-label>
        <input matInput required formControlName="email" />
        <mat-error>
            <agree-error-message [control]="loginForm.get('email')"></agree-error-message>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Password</mat-label>
        <input matInput [type]="visibility" required formControlName="password" />
        <mat-error>
            <agree-error-message [control]="loginForm.get('password')"></agree-error-message>
        </mat-error>

        <button (click)="toggleVisibility($event)" type="button" mat-icon-button matSuffix>
            <ng-container [ngSwitch]="visibility">
                <span *ngSwitchCase="'text'"><mat-icon>visibility</mat-icon></span>
                <span *ngSwitchDefault><mat-icon>visibility_off</mat-icon></span>
            </ng-container>
        </button>
    </mat-form-field>

    <div class="actions">
        <button mat-button color="primary" type="submit" [disabled]="loginForm.invalid"><span>Sign In</span><mat-icon>chevron_right</mat-icon></button>
        <a [routerLink]="['/', 'register']">Register</a>
        <a [routerLink]="['/', 'forgotten']">Forgot password?</a>
    </div>
</form>
