<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    lang="en"
    xml:lang="en"
    style="font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; box-sizing: border-box"
>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title><%= title %></title>
    </head>

    <body
        style="
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
            font-size: 14px;
            line-height: 1.5;
            color: #444;
            background-color: #fff;
            margin: 0;
        "
        bgcolor="#fff"
    >
        <table
            align="center"
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; max-width: 544px; margin-right: auto; margin-left: auto; width: 100% !important"
        >
            <tr style="box-sizing: border-box">
                <td align="center" valign="top" style="box-sizing: border-box; padding: 16px">
                    <center>
                        <!-- Email headline -->
                        <table style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td style="text-align: center">
                                    <h2
                                        style="
                                            box-sizing: border-box;
                                            padding: 0;
                                            margin-top: 8px !important;
                                            margin-bottom: 8px !important;
                                        "
                                    >
                                        <img src="<%= uri %>/assets/email/logo.png" width="113" height="32" style="width: 113px; height: 32px;" alt="&agree" />
                                    </h2>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: #fafafa; padding: 16px">
                                    <p style="box-sizing: border-box; text-align: center; padding: 0; margin: 0">
                                        <strong style="font-weight: 600"><%= title %></strong> has recieved feedback from all deciders. You can now review the decision
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <!-- CTA -->
                        <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td style="text-align: center; padding: 24px">
                                    <a href="<%= uri %>/decision/view/<%= uid %>" style="background-color: transparent; box-sizing: border-box; color: #444; text-decoration: underline">
                                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                                            <tr>
                                                <td style="vertical-align: middle;">Review decision</td>
                                                <td style="vertical-align: middle;"><img src="<%= uri %>/assets/email/navigate-icon.png" width="40" height="40" style="width: 40px; height: 40px; margin-left: 10px;" /></td>
                                            </tr>
                                        </table>
                                    </a>
                                </td>
                            </tr>
                        </table>

                        <!-- Email footer -->
                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td style="background-color: #fafafa; padding: 12px">
                                    <table
                                        width="100%"
                                        align="center"
                                        cellpadding="0"
                                        cellspacing="0"
                                        border="0"
                                        style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse"
                                    >
                                        <tr>
                                            <td style="background-color: #fafafa; padding: 4px">
                                                <p style="box-sizing: border-box; text-align: center; padding: 0; margin: 0; font-size: 12px; line-height: 12px">
                                                    We use &amp;agree to standardise, speed up and monitor decisions.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background-color: #fafafa; padding: 4px">
                                                <p style="box-sizing: border-box; text-align: center; padding: 0; margin: 0; font-size: 12px; line-height: 12px">
                                                    More information at
                                                    <a
                                                        href="<%= uri %>"
                                                        style="background-color: transparent; box-sizing: border-box; color: #444; text-decoration: underline"
                                                        ><%= uri %></a
                                                    >
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
    </body>
</html>
