<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    lang="en"
    xml:lang="en"
    style="font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; box-sizing: border-box"
>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title><%= title %></title>
    </head>

    <body
        style="
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
            font-size: 14px;
            line-height: 1.5;
            color: #444;
            background-color: #fff;
            margin: 0;
        "
        bgcolor="#fff"
    >
        <table
            align="center"
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; max-width: 544px; margin-right: auto; margin-left: auto; width: 100% !important"
        >
            <tr style="box-sizing: border-box">
                <td align="center" valign="top" style="box-sizing: border-box; padding: 16px">
                    <center>
                        <!-- Email headline -->
                        <table style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td style="text-align: center">
                                    <h2
                                        style="
                                            box-sizing: border-box;
                                            padding: 0;
                                            margin-top: 8px !important;
                                            margin-bottom: 8px !important;
                                        "
                                    >
                                        <img src="<%= uri %>/assets/email/logo.png" width="113" height="32" style="width: 113px; height: 32px;" alt="&agree" />
                                    </h2>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: #fafafa; padding: 16px">
                                    <p style="box-sizing: border-box; text-align: center; padding: 0; margin: 0">
                                        You have been invited by
                                        <strong style="font-weight: 600"><%= creator.email %></strong>
                                        to share your feedback and make a decision on
                                        <strong style="font-weight: 600"><%= title %></strong>
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <!-- General introduction -->
                        <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td style="padding: 0">
                                    <h3 style="font-size: 18px; font-weight: 600; padding: 0; margin-top: 16px !important; margin-bottom: 4px !important">General</h3>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0">
                                    <p style="padding: 0; margin-top: 0 !important; margin-bottom: 16px !important">Some general information around this decision.</p>
                                </td>
                            </tr>
                        </table>

                        <!-- Table of information -->
                        <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td style="padding-top: 8px">
                                    <p style="box-sizing: border-box; text-align: left; padding: 0; margin: 0">
                                        <strong style="font-weight: 600">Goal:</strong>
                                        <%= goal %>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 8px">
                                    <p style="box-sizing: border-box; text-align: left; padding: 0; margin: 0">
                                        <strong style="font-weight: 600">Instructions:</strong>
                                        <%= instructions %>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 8px">
                                    <p style="box-sizing: border-box; text-align: left; padding: 0; margin: 0">
                                        <strong style="font-weight: 600">Background:</strong>
                                        <%= background %>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 8px">
                                    <p style="box-sizing: border-box; text-align: left; padding: 0; margin: 0">
                                        <strong style="font-weight: 600">Deadline:</strong>
                                        <%= moment(deadline.toDate()).utc().endOf('day').format('dddd Do MMMM YYYY, HH.mm [UTC]') %>
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <!-- Table divider -->
                        <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; border-bottom: 1px solid #ccc; margin-top: 10px !important;">
                            <tr>
                                <td height="20" style="font-size: 20px; line-height: 20px; box-sizing: border-box; padding: 0">&#160;</td>
                            </tr>
                        </table>

                        <!-- Team introduction -->
                        <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td style="padding: 0">
                                    <h3 style="font-size: 18px; font-weight: 600; padding: 0; margin-top: 16px !important; margin-bottom: 4px !important">Team</h3>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0">
                                    <p style="padding: 0; margin-top: 0 !important; margin-bottom: 16px !important">The team members involved in this decision.</p>
                                </td>
                            </tr>
                        </table>

                        <!-- Table of information -->
                        <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td style="padding-top: 8px">
                                    <p style="box-sizing: border-box; text-align: left; padding: 0; margin: 0">
                                        <strong style="font-weight: 600">Manager(s):</strong>
                                        <%= managers.map((manager) => manager.email).join(', ') %>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 8px">
                                    <p style="box-sizing: border-box; text-align: left; padding: 0; margin: 0">
                                        <strong style="font-weight: 600">Decider(s):</strong>
                                        <%= deciders.map((decider) => decider.email).join(', ') %>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 8px">
                                    <p style="box-sizing: border-box; text-align: left; padding: 0; margin: 0">
                                        <strong style="font-weight: 600">Viewer(s):</strong>
                                        <%= viewers.map((viewer) => viewer.email).join(', ') %>
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <% if (documents.length) { %>
                        <!-- Table divider -->
                        <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; border-bottom: 1px solid #ccc; margin-top: 10px !important;">
                            <tr>
                                <td height="20" style="font-size: 20px; line-height: 20px; box-sizing: border-box; padding: 0">&#160;</td>
                            </tr>
                        </table>

                        <!-- Documents introduction -->
                        <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td style="padding: 0">
                                    <h3 style="font-size: 18px; font-weight: 600; padding: 0; margin-top: 16px !important; margin-bottom: 4px !important">Documents</h3>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0">
                                    <p style="padding: 0; margin-top: 0 !important; margin-bottom: 16px !important">The documents to aid your feedback, as follows, are attached to this email.</p>
                                </td>
                            </tr>
                        </table>

                        <!-- Table of information -->
                        <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <% for (let document of documents) { %>
                            <tr>
                                <td style="padding-top: 8px">
                                    <p style="box-sizing: border-box; text-align: left; padding: 0; margin: 0">
                                        <%= document.name %>
                                    </p>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                        <% } %>

                        <!-- Table divider blank -->
                        <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; border-bottom: none; margin-top: 10px !important;">
                            <tr>
                                <td height="20" style="font-size: 20px; line-height: 20px; box-sizing: border-box; padding: 0">&#160;</td>
                            </tr>
                        </table>

                        <!-- CTA -->
                        <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td style="text-align: center; padding: 16px;">
                                    <a href="mailto:<%= from %>?cc=<%= [...new Set([...managers, ...deciders].map((member) => member.email))].join(',') %>&subject=<%= title %>&body=I%20agree%20and%20here%20is%20my%20feedback:%20[TYPE%20YOUR%20FEEDBACK%20HERE]" style="background-color: transparent; box-sizing: border-box; color: #444; text-decoration: underline">
                                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                                            <tr>
                                                <td style="vertical-align: middle;">Agree &amp; feed back</td>
                                                <td style="vertical-align: middle;"><img src="<%= uri %>/assets/email/agree-icon.png" width="40" height="40" style="width: 40px; height: 40px; margin-left: 10px;" /></td>
                                            </tr>
                                        </table>
                                    </a>
                                </td>
                                <td style="text-align: center; padding: 16px">
                                    <a href="mailto:<%= from %>?cc=<%= [...new Set([...managers, ...deciders].map((member) => member.email))].join(',') %>&subject=<%= title %>&body=I%20disagree%20and%20here%20is%20my%20feedback:%20[TYPE%20YOUR%20FEEDBACK%20HERE]" style="background-color: transparent; box-sizing: border-box; color: #444; text-decoration: underline">
                                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                                            <tr>
                                                <td style="vertical-align: middle;">Disagree &amp; feed back</td>
                                                <td style="vertical-align: middle;"><img src="<%= uri %>/assets/email/disagree-icon.png" width="40" height="40" style="width: 40px; height: 40px; margin-left: 10px;" /></td>
                                            </tr>
                                        </table>
                                    </a>
                                </td>
                            </tr>
                        </table>

                        <!-- Table divider blank -->
                        <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse; border-bottom: none; margin-top: 10px !important;">
                            <tr>
                                <td height="20" style="font-size: 20px; line-height: 20px; box-sizing: border-box; padding: 0">&#160;</td>
                            </tr>
                        </table>

                        <!-- About -->
                        <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td width="33%" valign="top" style="width: 33%; background-color: #fafafa; text-align: center; padding: 16px">
                                    <img src="<%= uri %>/assets/email/email-icon.png" width="28" height="28" style="width: 28px; height: 28px; margin-bottom: 7px;" />
                                    <p style="font-size: 10px; line-height: 10px; margin: 0; padding: 0">
                                        We collect your feedback via email &dash; no need to log into our website.
                                    </p>
                                </td>
                                <td width="33%" valign="top" style="width: 33%; background-color: #fafafa; text-align: center; padding: 16px">
                                    <img src="<%= uri %>/assets/email/chat-icon.png" width="28" height="28" style="width: 28px; height: 28px; margin-bottom: 7px;" />
                                    <p style="font-size: 10px; line-height: 10px; margin: 0; padding: 0">The buttons above open a pre-populated email to share your feedback.</p>
                                </td>
                                <td width="33%" valign="top" style="width: 33%; background-color: #fafafa; text-align: center; padding: 16px">
                                    <img src="<%= uri %>/assets/email/feedback-icon.png" width="28" height="28" style="width: 28px; height: 28px; margin-bottom: 7px;" />
                                    <p style="font-size: 10px; line-height: 10px; margin: 0; padding: 0">
                                        Both the decision manger's and unique decision email address should be included in your reply.
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <!-- Table closure -->
                        <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td height="16" style="font-size: 16px; line-height: 16px; box-sizing: border-box; padding: 0">&#160;</td>
                            </tr>
                        </table>

                        <!-- Email footer -->

                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse">
                            <tr>
                                <td style="background-color: #fafafa; padding: 12px">
                                    <table
                                        width="100%"
                                        align="center"
                                        cellpadding="0"
                                        cellspacing="0"
                                        border="0"
                                        style="box-sizing: border-box; border-spacing: 0; border-collapse: collapse"
                                    >
                                        <tr>
                                            <td style="background-color: #fafafa; padding: 4px">
                                                <p style="box-sizing: border-box; text-align: center; padding: 0; margin: 0; font-size: 12px; line-height: 12px">
                                                    We use &amp;agree to standardise, speed up and monitor decisions.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background-color: #fafafa; padding: 4px">
                                                <p style="box-sizing: border-box; text-align: center; padding: 0; margin: 0; font-size: 12px; line-height: 12px">
                                                    More information at
                                                    <a
                                                        href="<%= uri %>"
                                                        style="background-color: transparent; box-sizing: border-box; color: #444; text-decoration: underline"
                                                        ><%= uri %></a
                                                    >
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
    </body>
</html>
