a {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #ddd;
    }
}

.spacer {
    flex: 1;
}

.user {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    gap: 0.5em;
}
