.app-bar-content {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: min-content auto min-content;
    align-items: center;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #ddd;
        }
    }

    .logo {
        img {
            height: 18px;
            width: auto;
        }
    }

    .nav {
        display: grid;
        gap: 0.5rem;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        align-items: center;
        margin-left: 0.25rem;

        mat-icon ~ span {
            display: none;
        }

        &.nav-desktop {
            display: none;
        }
    }

    .user {
        display: grid;
        gap: 1rem;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        align-items: center;

        .mat-body-1 {
            display: none;
        }
    }

    @media screen and (min-width: 600px) {
        width: 540px;
    }

    @media screen and (min-width: 960px) {
        width: 900px;
        grid-auto-columns: min-content auto min-content;

        .logo {
            margin: 0 1rem 0 0;

            img {
                height: 20px;
            }
        }

        .nav {
            mat-icon ~ span {
                display: inline;
                margin-left: 0.5rem;
            }

            &.nav-desktop {
                display: grid;
            }

            &.nav-mobile {
                display: none;
            }
        }

        .user {
            .mat-body-1 {
                display: block;
            }
        }
    }

    @media screen and (min-width: 1280px) {
        width: 1220px;
    }
}
