<mat-toolbar color="primary">
    <div class="app-bar-content">
        <div class="logo">
            <a [routerLink]="['/', 'auth']">
                <img src="/assets/logo-white@3x.png" alt="&agree">
            </a>
        </div>

        <ng-container *agreeAuthenticated="true">
            <nav class="nav nav-mobile">
                <button mat-icon-button [routerLink]="['/', 'dashboard']" aria-label="Your decisions">
                    <mat-icon>dashboard_customize</mat-icon>
                </button>
                <button mat-icon-button [routerLink]="['/', 'decision', 'create']" aria-label="Start new decision">
                    <mat-icon>add</mat-icon>
                </button>
            </nav>

            <nav class="nav nav-desktop">
                <button mat-button [routerLink]="['/', 'dashboard']" aria-label="Your decisions">
                    <mat-icon>dashboard_customize</mat-icon>
                    <span>Your decisions</span>
                </button>
                <button mat-button [routerLink]="['/', 'decision', 'create']" aria-label="Start new decision">
                    <mat-icon>add</mat-icon>
                    <span>Start new decision</span>
                </button>
            </nav>

            <div class="user">
                <div class="mat-body-1">{{ account.alias }}</div>
                <button mat-button (click)="performLogout()">Logout</button>
            </div>
        </ng-container>
    </div>
</mat-toolbar>
