<div class="decision-dialog">
    <h2 mat-dialog-title class="mat-title">Are you sure you want to delete this decision?</h2>
    <mat-dialog-content>
        <p>This will delete your decision from your decisions dashboard.</p>
    </mat-dialog-content>
    <mat-dialog-actions class="actions">
        <div>
            <button mat-button mat-dialog-close color="warn" aria-label="Close dialog" cdkFocusInitial>
                <span>Cancel</span>
            </button>
        </div>
        <button mat-flat-button [mat-dialog-close]="true" color="primary" aria-label="Delete decision">
            <span>Delete decision</span>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-dialog-actions>
</div>
