<h1>Password recovery</h1>
<h3>Enter your account email below.</h3>

<div *ngIf="error">{{ error }}</div>

<form [formGroup]="forgottenForm" (submit)="recoverAccount()" autocomplete="off">

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email address</mat-label>
        <input matInput required formControlName="email" />
    </mat-form-field>

    <div class="actions">
        <button mat-flat-button color="primary" type="submit" [disabled]="forgottenForm.invalid"><span>Submit</span><mat-icon>chevron_right</mat-icon></button>
        <a [routerLink]="['/', 'auth', 'login']">Back to login</a>
    </div>
</form>

<div *ngIf="sent">
    <div brandNotificationMessage>Check your email for further instructions.</div>
</div>
