.header {
    margin-bottom: 2rem;

    h4 {
        margin: 0 0 0.5rem;
    }
}

.search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    @media screen and (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);

        :first-child {
            grid-column: 2;
        }
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(4, 1fr);

        :first-child {
            grid-column: 3;
        }
    }
}

.decisions {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 1.5rem;
    padding: 1rem 0 3rem;

    @media screen and (min-width: 600px) {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media screen and (min-width: 960px) {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

.decision-item {
    mat-card-title {
        padding: 0 0 1rem;

        h5 {
            margin: 0;
            padding: 0;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    mat-progress-bar {
        height: 0.75rem;
    }

    mat-card-content {
        margin: 0;
        padding: 1.25rem 0 0;

        > div {
            margin-top: 0.33rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    mat-card-actions {
        text-align: right;
    }
}
