<div class="header">
    <h4 class="mat-display-1">Decisions in progress ({{ decisions.length }})</h4>
    <div>Decisions that are currently being made.</div>
</div>

<div class="decisions">
    <mat-card *ngFor="let decision of decisions" class="decision-item">
        <mat-card-title>
            <h5 class="mat-display-1">{{ decision.general.title }}</h5>
        </mat-card-title>
        <mat-progress-bar mode="determinate" [value]="feedbackPercent(decision)" color="accent"></mat-progress-bar>
        <mat-card-content>
            <div><strong>Feedback:</strong> {{ decision.deciders | filter: "pending":false | count }} / {{ decision.deciders | count }}</div>
            <div><strong>Goal:</strong> {{ decision.general.goal }}</div>
            <div><strong>Deadline:</strong> {{ decision.general.deadline | timestamp }}</div>
        </mat-card-content>
        <mat-card-actions>
            <a mat-icon-button [routerLink]="['/', 'decision', 'view', decision.uid]" aria-label="View decision">
                <mat-icon>chevron_right</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</div>
