<div class="full-viewport summary">
    <div class="full-viewport-content summary-content">
        <div><strong>Title:</strong> {{ decision.title }}</div>
        <div><strong>Goal:</strong> {{ decision.goal }}</div>
        <div><strong>Decision Email:</strong> {{ decision.uid }}&#64;andagree.com</div>
        <div><strong>Deadline:</strong> {{ decision.deadline | timestamp }}</div>
    </div>
</div>

<div class="agree-stepper">
    <div class="stepper">
        <div class="step done">
            <div class="step-circle"><span><mat-icon>add</mat-icon></span></div>
            <div class="step-title">Start a new decision</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step done">
            <div class="step-circle"><span><mat-icon>mail_outline</mat-icon></span></div>
            <div class="step-title">Kick off email sent</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step done">
            <div class="step-circle"><span><mat-icon>subject</mat-icon></span></div>
            <div class="step-title">Review the decision</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step active">
            <div class="step-circle"><span><mat-icon>done</mat-icon></span></div>
            <div class="step-title">Finalise the decision</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
        <div class="step">
            <div class="step-circle"><span><mat-icon>mark_email_read</mat-icon></span></div>
            <div class="step-title">Agreement email sent &amp; decision archived</div>
            <div class="step-bar-left"></div>
            <div class="step-bar-right"></div>
        </div>
    </div>
</div>

<div class="finalise">
    <h1>Finalise the decision</h1>
    <div class="mat-subheading-2">Share the final decision with the rest of your team and archive the outcome.</div>

    <form [formGroup]="finaliseForm" (submit)="finaliseDecision()">
        <section>
            <header>
                <h4 class="mat-display-1">Final decision</h4>
                <div>Share the final decision outcome with your team.</div>
            </header>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Message</mat-label>
                <textarea matInput rows="8" required formControlName="conclusion" placeholder="The yellow logo has now been approved. Thanks for your help!"></textarea>
                <mat-error>
                    <agree-error-message [control]="finaliseForm.get('conclusion')"></agree-error-message>
                </mat-error>
            </mat-form-field>
        </section>

        <section>
            <header>
                <h4 class="mat-display-1">Final documents</h4>
                <div>Share the final decision documents with your team.</div>
            </header>

            <ng-container *ngIf="decision.documents.length">
                <mat-selection-list dense #attachments>
                    <mat-list-option *ngFor="let document of decision.documents" [value]="document">
                        <p mat-line>{{ document.name }}</p>
                    </mat-list-option>
                </mat-selection-list>
            </ng-container>

            <form class="document-form" [formGroup]="documentForm">
                <div formArrayName="upload" *ngFor="let document of documents.controls; let i = index">
                    <div class="document-entry" [formGroupName]="i">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" />
                            <mat-error>
                                <agree-error-message [control]="document.get('name')"></agree-error-message>
                            </mat-error>
                        </mat-form-field>

                        <div>
                            <button mat-button (click)="buttonInput.click()">Choose file</button>

                            <input #buttonInput type="file" (change)="saveFile($event, document)" />
                        </div>

                        <div class="indicator" [ngSwitch]="document.valid">
                            <mat-icon color="primary" *ngSwitchCase="true">check_circle_outline</mat-icon>
                            <mat-icon color="warn" *ngSwitchDefault>help_outline</mat-icon>
                        </div>

                        <div>
                            <button mat-icon-button color="warn" aria-label="Remove document" (click)="removeDocument(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <button mat-flat-button color="primary" (click)="addDocument()">Add file</button>
                </div>
            </form>
        </section>

        <div class="full-viewport">
            <div class="full-viewport-content">
                <div class="actions">
                    <button mat-button type="button" [routerLink]="['/', 'decision', 'view', decision.uid]">Back</button>
                    <button mat-flat-button type="submit" color="primary" [disabled]="finaliseForm.invalid">
                        <span>Finalise decision</span><mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="full-viewport clear-bg">
            <div class="full-viewport-content">
                <div class="actions-info">
                    <p>Archive the decision and send an agreement email to your wider team. It will include your message and documents.</p>
                </div>
            </div>
        </div>
    </form>
</div>
