<div class="finalise">
    <h1>Finalise the decision</h1>
    <div class="mat-subheading-2">Share the final decision with the rest of your team and archive the outcome.</div>

    <form [formGroup]="finaliseForm" (submit)="finaliseDecision()">
        <section>
            <header>
                <h4 class="mat-display-1">Final decision</h4>
                <div>Share the final decision outcome with your team.</div>
            </header>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Message</mat-label>
                <textarea matInput rows="8" required formControlName="conclusion" placeholder="The yellow logo has now been approved. Thanks for your help!"></textarea>
                <mat-error>
                    <agree-error-message [control]="finaliseForm.get('conclusion')"></agree-error-message>
                </mat-error>
            </mat-form-field>
        </section>

        <section>
            <header>
                <h4 class="mat-display-1">Final documents</h4>
                <div>Share the final decision documents with your team.</div>
            </header>

            <mat-selection-list dense #documents>
                <mat-list-option *ngFor="let document of decision.documents" [value]="document">
                    <p mat-line>{{ document.name }}</p>
                    <p mat-line>{{ document.file }}</p>
                </mat-list-option>
            </mat-selection-list>
        </section>

        <div class="actions">
            <button mat-button type="button" [routerLink]="['/', 'decision', 'view', decision.uid]">Back</button>
            <button mat-flat-button type="submit" color="primary" >
                <span>Finalise decision</span><mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </form>
</div>
