<form [formGroup]="finaliseForm" (submit)="finaliseDecision()">
    <h1>Finalise the decision</h1>
    <h3>Share the final decision with the rest of your team and archive the outcome.</h3>

    <h4>Final decision</h4>
    <p>Share the final decision outcome with your team.</p>

    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Message</mat-label>
        <textarea matInput rows="8" required formControlName="conclusion" placeholder="This is the latest version of our 20th anniversairy logo"></textarea>
    </mat-form-field>

    <h4>Final documents</h4>
    <p>Share the final decision documents with your team.</p>

    <mat-selection-list dense #documents>
        <mat-list-option *ngFor="let document of decision.documents" [value]="document">
            <p mat-line>{{ document.name }}</p>
            <p mat-line>{{ document.file }}</p>
        </mat-list-option>
    </mat-selection-list>

    <div>
        <button mat-button [routerLink]="['/', 'decision', 'view', decision.uid]">Back</button>
        <button mat-flat-button color="primary">Finalise decision</button>
    </div>
</form>
