.decision-dialog {
    padding: 1rem 0;

    .actions {
        display: grid;
        justify-content: flex-end;
        grid-template-columns: min-content;
    }

    @media screen and (min-width: 600px) {
        font-size: 1rem;
        padding: 1em;
    }
}
