<div class="app-footer">
    <div class="app-footer-content">
        <div>
            <img src="/assets/logo-white@3x.png" alt="&agree">
        </div>
        <div>
            <ul>
                <li *agreeAuthenticated="false"><a [routerLink]="['/', 'auth']">Login</a></li>
                <li *agreeAuthenticated="true"><a [routerLink]="['/', 'dashboard']">Your decisions</a></li>
                <li><a href="mailto:info@andagree.com">Contact us</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="https://app.termly.io/document/terms-of-use-for-saas/1c65dc52-b42c-4e35-8712-1aa473ce1c96">Terms and Conditions</a></li>
                <li><a href="https://app.termly.io/document/privacy-policy/0fb7bdb6-8bdc-437d-b21d-d4acbfe82127">Privacy Notice</a></li>
                <li><a href="https://app.termly.io/document/cookie-policy/c4c4ed9b-9c3d-46f5-9618-02392b32700e">Cookie Policy</a></li>
                <li><a href="https://app.termly.io/document/disclaimer/b9410d39-08ef-4c90-9928-b574abe897dd">Disclaimer</a></li>
            </ul>
        </div>
    </div>
</div>
